
@{
    ViewBag.Title = "Facilities";
    Layout = "~/Views/Shared/MyCollegeLayout.cshtml";
}

<h2>Facilities view</h2>
<p>College have facilities like..</p>
<ol>
    <li>Libraray</li>
    <li>Canteen</li>
    <li>College radio</li>
    <li>Anti raging squad</li>
</ol>