
@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/MyCollegeLayout.cshtml";
}

<h2>Staff view</h2>
<p>We have the best staff with Doctarates</p>
<ol>
    <li>ECE: Sataish</li>
    <li>IT: Sulakshana</li>
    <li>CSE: Kulkarni</li>

</ol>